name: Skynet Accounts Actions
on: [ push ]
jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '1.16.7'
      - name: Install golint
        run: go get -u golang.org/x/lint/golint
      - name: Install analyze
        run: go get -u gitlab.com/NebulousLabs/analyze
      - name: Install golangci-lint
        run: curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.42.1
      - name: Lint
        run: make lint
      - name: Run unit tests
        run: make test
